<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214701800049-m30o08ph22jvu60639o5umn81pk54rog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214701800049-m30o08ph22jvu60639o5umn81pk54rog</string>
	<key>API_KEY</key>
	<string>AIzaSyDmaDb8OJrP0D1moJCj3pmT8Y2OOA77SeM</string>
	<key>GCM_SENDER_ID</key>
	<string>214701800049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rokadas.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c4320</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c4320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214701800049:ios:f2240d52e5f0479e2ef9d0</string>
</dict>
</plist>